<h1>Editing Book</h1>
<%= form_with model: @book, url: update_list_path(@book.id), method: :patch do |f| %>
<div class="field">
    <%= f.label :Title, "Title" %>
    <%= f.text_field :title %>
</div>
<div class="field">
    <%= f.label :body, "Body" %>
    <%= f.text_field :body %>
</div>
<div class="action">
    <%= f.submit 'Update Book' %>
    
</div>
<% end %>

    <a class="show_93968" href="/books/93968/">show</a> |
    <a class="back" href="/books">Back</a>>